<div class="component js-component" {{ include('@GeekStarAdmin/Layout/app/component/data.layout.twig') }}>
    <{{ config.url is defined ? 'a href=' ~ config.url : 'button type="button"'}} class="btn btn-{{ config.theme }} {{ config.size is defined ? 'btn-' ~ config.size }}">
        {% if config.icon is defined %}<i class="fa fa-{{ config.icon }}" aria-hidden="true"></i> {% endif %}
        {{ config.title }}
        {{ content | raw }}
    </{{ config.url is defined ? 'a' : 'button'}}>
</div>