<div class="component group-component js-component" {{ include('@GeekStarAdmin/Layout/app/component/data.layout.twig') }}>
    {% if (config.title is defined) or  (config.note is defined) %}
    <div class="group-title">
        {% if config.title is defined %}<span class="title"> {{ config.title }}</span>{% endif %}
        {% if config.note is defined %}<span class="note"> {{ config.note }}</span>{% endif %}
    </div>
    {% endif %}
    {{ content | raw }}
</div>