<div class="component panel-component js-component" style="height: {{ config.height }}" {{ include('@GeekStarAdmin/Layout/app/component/data.layout.twig') }}>
    <div class="panel-wrapper {{ config.borderBottom is defined ? 'border-b gsa-border-color-' ~ config.borderBottom }}">
        {% if config.title is defined or config.menuItems is defined %}
        <div class="panel-header{{ config.headerTheme is defined ? ' theme-' ~ config.headerTheme }}">
            {% if config.title is defined %}
            <div class="title">{{ config.title }}</div>
            {% endif %}

            {% if config.menuItems is defined %}
            <div class="menu">
                <div class="open-menu" id="panelMenu{{ config._key }}" data-bs-toggle="dropdown" aria-expanded="false"></div>
                <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="panelMenu{{ config._key }}">
                    {% for menuItem in config.menuItems %}
                    <li><a class="dropdown-item" href="{{ menuItem.href ?: '#' }}" target="_blank" {{ menuItem.action ? 'data-action=' ~ menuItem.action }} {{ menuItem.event ? 'data-event=' ~ menuItem.event }}>{{ menuItem.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="panel-content" {% if config.contentHeight is defined %} style = "height: {{ config.contentHeight }};"{% endif %}>
            <div class="{{ config.contentHeight is defined ? 'scrollContent' : 'content' }} light" data-mcs-theme="minimal-dark">
                {{ content | raw }}
            </div>
        </div>
    </div>
</div>