{% set modalId = 'component' ~ config._key ~ 'Modal' %}
<div class="component popup-component js-component" {{ include('@GeekStarAdmin/Layout/app/component/data.layout.twig') }}>
    <div class="modal" id="{{ modalId }}" tabindex="-1" aria-labelledby="{{ modalId }}Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" {% if config.width is defined %} style="width: {{ config.width }}" {% endif %}>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="{{ modalId }}Label">{{ config.title }}</h5>
                    <button type="button" class="btn-close"></button>
                </div>
                <div class="modal-body">
                    {{ content | raw }}
                </div>
            </div>
        </div>
    </div>
</div>