<div class="component js-component" {{ include('@GeekStarAdmin/Layout/app/component/data.layout.twig') }}>
    <ul class="nav nav-tabs" role="tablist">
        {% for keyTab, tab in config.tabs %}
        <li class="nav-item">
            <a class="nav-link {{ loop.first ? 'active' }}" data-toggle="tab" href="#{{ keyTab }}" role="tab">{{ tab }}</a>
        </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {{ content | raw }}
    </div>
</div>