<div class="component js-component tab-pane {{ config.active ? 'active' }}" id="{{ config.id }}"
     role="tabpanel" {{ include('@GeekStarAdmin/Layout/app/component/data.layout.twig') }}>
    {{ content | raw }}
</div>