{% set componentClasses = '' %}
{% if config.striped is defined and config.striped %}
    {% set componentClasses = componentClasses ~ ' striped' %}
{% endif %}
{% if config.withOutBorder is defined and config.withOutBorder %}
    {% set componentClasses = componentClasses ~ ' withOutBorder' %}
{% endif %}
{% if config.alignCenter is defined and config.alignCenter %}
    {% set componentClasses = componentClasses ~ ' alignCenter' %}
{% endif %}

{% set withSearchFilter = (config.searchFilter is defined and config.searchFilter) %}
{% set withCountFilters = (config.countFilters is defined and config.countFilters) %}
{% set activeCountFilters = query.filter.limit is defined ? query.filter.limit : (data.pagination.limit is defined ? data.pagination.limit : 'all') %}

{% macro table_tree_to_list(rows, config) %}
    {% for keyRow, row in rows %}
        <tr class="block-table-row">
        {% for keyCol, column in config.columns %}
            {% if keyCol == '_control' %}
                <td class="block-table-col control-column">
                {% if config.sortable %}
                    <div class="mover"><i class="fa fa-arrows-v"></i></div>
                {% endif %}
                {% if config.collapsed %}
                    <div class="collapser" style="margin-left: {{ (row._level - 1) * 16}}px"></div>
                {% endif %}
                    <div class="title">{{ row[keyCol] | raw }}</div>
                </td>
            {% else %}
            <td class="block-table-col">{{ row[keyCol] | raw }}</td>
            {% endif %}
        {% endfor %}
        </tr>
        {% if row.items is defined %}
            {{ _self.table_tree_to_list(row.items, config) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro block_tree_to_list(rows, config) %}
    {% for keyRow, row in rows %}
        <div class="block-table-row {{ row._collapsed ? 'collapsed' }} {{ not (row.items is defined and row.items) ? 'withoutItems' }}"
             data-key="{{ keyRow }}"
            {{ row.sortIndex is defined ? 'data-sort-index=' ~ row.sortIndex }}
            {{ row._nodes is defined ? 'data-nodes=' ~ row._nodes }}
        >

        {% for keyCol, column in config.columns %}
            {% if keyCol == '_control' %}
            <div class="block-table-col control-column">
            {% if config.sortable %}
                <div class="mover"><i class="fa fa-arrows-v"></i></div>
            {% endif %}
            {% if config.collapsed %}
                <div class="collapser" style="margin-left: {{ (row._level - 1) * 16}}px"></div>
            {% endif %}
                <div class="title">{{ row[keyCol] | raw }}</div>
            </div>
            {% else %}
            <div class="block-table-col">{{ row[keyCol] | raw }}</div>
            {% endif %}
        {% endfor %}


        {% if row.items is defined %}
            <div class="items">
                {{ _self.block_tree_to_list(row.items, config) }}
            </div>
        {% endif %}

        </div>
    {% endfor %}
{% endmacro %}

<div class="component table-component js-component {{ componentClasses }}" {{ include('@GeekStarAdmin/Layout/app/component/data.layout.twig') }}>
    {% if withSearchFilter or withCountFilters %}
    <div class="filters">
        {% if withCountFilters %}
        <div class="countFilter">
            <select class="form-select form-select-sm">
            {% for key, title in config.countFilters %}
                <option value="{{ key }}" {{ activeCountFilters == key ? 'selected' }}>{{ title }}</option>
            {% endfor %}
            </select>
            <span>{{ 'geek_star_admin.content.entries' | trans }}</span>
        </div>
        {% endif %}
        {% if withSearchFilter %}
        <div class="searchFilter">
            <form>
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control" placeholder="{{ 'geek_star_admin.content.search' | trans }}..." value="{{ query.filter.search ?? '' }}">
                  <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
    {% endif %}

    <table class="block-table {{ config.sortable ? 'sortable' }} {{ config.collapsed ? 'collapsed' }}">
        <thead class="block-table-head" {{ config.headerTheme is defined ? ' class=theme-' ~ config.headerTheme  }}>
            <tr class="block-table-row">
            {% for key, column in config.columns %}
                <th class="block-table-head-col" {{ column.compact ? 'style="width:0.001%"' }}>{{ column.title }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody class="block-table-body">
        {{ _self.table_tree_to_list(data.table, config) }}
        </tbody>
    </table>

    <div class="block-table {{ config.sortable ? 'sortable' }} {{ config.collapsed ? 'collapsed' }}">
        <div class="block-table-head {{ config.headerTheme is defined ? ' theme-' ~ config.headerTheme }}">
            <div class="block-table-row">
            {% for key, column in config.columns %}
                <div class="block-table-head-col">{{ column.title }}</div>
            {% endfor %}
            </div>
        </div>

        {% if config.contentHeight is defined %}
        <div class="scrollContent light" data-mcs-theme="minimal-dark" style="height: {{ config.contentHeight }}">
        {% endif %}
        <div  class="block-table-body">
            {{ _self.block_tree_to_list(data.table, config) }}
        </div>
        {% if config.contentHeight is defined %}
        </div>
        {% endif %}

        {% if config.withFooter %}
        <div class="block-table-foot {{ config.headerTheme is defined ? ' theme-' ~ config.headerTheme }}">
            <div class="block-table-row">
            {% for key, column in config.columns %}
                <div class="block-table-head-col">{{ column.title }}</div>
            {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

    {% if data.pagination is defined %}
    {% set paginationFrom = ((data.pagination.page - 1) * data.pagination.limit + 1) %}
    {% set paginationTo =  min(paginationFrom + data.pagination.limit - 1, data.pagination.total) %}
    {% set paginationPageCount = data.pagination.pageCount %}
    <div class="navigation">
        <div class="info"><span>{{ paginationFrom  }}-{{ paginationTo }} {{ 'geek_star_admin.content.of' | trans }} {{ data.pagination.total}}</span></div>
        {% if paginationPageCount > 1 %}
            {% include '@GeekStarAdmin/Layout/app/pagination.layout.twig' with {'currentPage': data.pagination.page, 'pageCount': paginationPageCount} only %}
        {% endif %}
    </div>
    {% endif %}
</div>