@import font
@import ../reset.css

$authorize-bg-color: #9053c7
$authorize-bg-color-gradient-1: #c850c0
$authorize-bg-color-gradient-2: #4158d0

$authorize-form-bg-color: #fff

$authorize-form-item-bg-color: #57b846
$authorize-form-item-hover-bg-color: #333
$authorize-form-item-color: #fff
$authorize-form-item-hover-color: #fff

$authorize-form-input-bg-color: #e6e6e6
$authorize-form-input-color: #666

$authorize-error-color: #c80000

body
  font-family: Roboto

.authorize
  width: 100%
  min-height: 100vh
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  background: $authorize-bg-color
  background: -webkit-linear-gradient(-135deg, $authorize-bg-color-gradient-1, $authorize-bg-color-gradient-2)
  background: -o-linear-gradient(-135deg, $authorize-bg-color-gradient-1, $authorize-bg-color-gradient-2)
  background: -moz-linear-gradient(-135deg, $authorize-bg-color-gradient-1, $authorize-bg-color-gradient-2)
  background: linear-gradient(-135deg, $authorize-bg-color-gradient-1, $authorize-bg-color-gradient-2)

  .wrap-login
    width: 450px
    background: $authorize-form-bg-color
    border-radius: 10px
    overflow: hidden
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: 50px

    form
      width: 100%

      .title
        display: block
        width: 100%
        text-align: center
        padding-bottom: 40px

      .text
        font-size: 13px
        color: #666

        .light-color
          color: #999

        &.center
          text-align: center

      .field
        margin-bottom: 10px

        .error
          font-size: 13px
          color: $authorize-error-color

      .form-error
        text-align: center
        font-size: 13px
        color: $authorize-error-color
        margin: 10px 0

      input, button
        outline: none
        border: none

      .btn
        font-size: 15px
        font-weight: bold
        line-height: 1.5
        color: $authorize-form-item-color
        text-transform: uppercase
        width: 100%
        height: 50px
        border-radius: 25px
        background: $authorize-form-item-bg-color
        display: flex
        justify-content: center
        align-items: center
        padding: 0 25px
        transition: all .4s

        &.btn-last
          margin-top: 30px

        &:hover
          color: $authorize-form-item-hover-color
          background: $authorize-form-item-hover-bg-color

      .input-form
        font-size: 15px
        line-height: 1.5
        color: $authorize-form-input-color
        display: block
        width: 100%
        background: $authorize-form-input-bg-color
        height: 50px
        border-radius: 25px
        padding: 0 30px 0 68px

        & + .symbol
          font-size: 15px
          display: flex
          align-items: center
          position: absolute
          border-radius: 25px
          bottom: 0
          left: 0
          width: 100%
          height: 100%
          padding-left: 35px
          pointer-events: none
          color: $authorize-form-input-color
          transition: all .4s
          -webkit-transform: translate3d(0,0,0)

          i
            width: 20px
            text-align: center

        &:focus + .symbol
          color: $authorize-form-item-bg-color
          padding-left: 28px

      .input-form-checkbox
        position: absolute
        z-index: -1
        opacity: 0

        &+label
          display: inline-flex
          align-items: center
          user-select: none
          cursor: pointer
          font-size: 15px

          &:before
            content: ''
            display: inline-block
            width: 1em
            height: 1em
            flex-shrink: 0
            flex-grow: 0
            border: 1px solid #adb5bd
            border-radius: 0.25em
            margin-right: 0.5em
            background-repeat: no-repeat
            background-position: center center
            background-size: 50% 50%

        &:checked
          &+label
            &:before
              background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23" + str-slice($authorize-form-item-bg-color + "", 2)+ "' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e")

      .wrap-input
        position: relative
        margin-bottom: 10px

        &.al-center
          text-align: center

      .wrap-input-checkbox
        margin-top: 20px

      a
        &:hover, &:focus
          color: $authorize-form-item-bg-color

      .forgot
        margin-top: 20px