@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'), url('../../fonts/roboto/Roboto.woff2') format('woff2'), url('../../fonts/roboto/Roboto.woff') format('woff'), url('../../fonts/roboto/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}