<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">{{ 'geek_star_admin.alert.error' | trans }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body with-icon">
        <i class="icon-logo icon fa fa-exclamation-triangle text-danger" aria-hidden="true"></i>
        <div class="message"></div>
      </div>
    </div>
  </div>
</div>