{% extends '@GeekStarAdmin/base.layout.twig' %}

{% block body %}
    <div class="wrap-login">
        <form method="post" action="{{ path('geek_star_admin_api_login') }}" class="js-gsaf-form" id="authorize-form">
            <span class="title">Войдите, чтобы продолжить</span>

            <div class="field js-gsaf-field">
                <div class="wrap-input">
                    <input class="input-form js-gsaf-input" type="email" name="username" placeholder="Email">
                    <span class="symbol"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                </div>
                <div class="error js-gsaf-field-error"></div>
            </div>
            <div class="field js-gsaf-field">
                <div class="wrap-input">
                    <input class="input-form js-gsaf-input" type="password" name="password" placeholder="Пароль">
                    <span class="symbol"><i class="fa fa-lock" aria-hidden="true"></i></span>
                </div>
                <div class="error js-gsaf-field-error"></div>
            </div>

            <div class="form-error js-gsaf-error"></div>

            <div class="field js-gsaf-field">
                <div class="wrap-input wrap-input-checkbox al-center">
                    <input class="input-form-checkbox" type="checkbox" id="remember_me" name="remember_me" value="no">
                    <label for="remember_me">Запомнить меня</label>
                </div>
                <div class="error js-gsaf-field-error"></div>
            </div>

            <button class="btn btn-last js-gsaf-submit">Войти</button>

            <div class="forgot text center">
                <span class="light-color">Забыли </span>
                <a href="#">Логин / Пароль?</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block bodyparams %} class="authorize"{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('auth', null, 'geek-star-admin') }}
{% endblock %}

{% block javascripts_footer %}
    {{ encore_entry_script_tags('auth', null, 'geek-star-admin') }}
{% endblock %}
