{% extends '@GeekStarAdmin/base.layout.twig' %}

{% block body %}
    {{ include('@GeekStarAdmin/Layout/app/header.layout.twig') }}
    {% block content %}{% endblock %}
    {{ include('@GeekStarAdmin/Layout/app/modal/error.modal.twig') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app-header', null, 'geek-star-admin') }}
    {{ encore_entry_link_tags('app-footer', null, 'geek-star-admin') }}
    {% if admin.config.assets.stylesheets is defined %}
        {% include admin.config.assets.stylesheets %}
    {% endif %}
{% endblock %}

{% block javascripts_header %}
    {{ encore_entry_script_tags('app-header', null, 'geek-star-admin') }}
    {% if admin.config.assets.javascripts_header is defined %}
        {% include admin.config.assets.javascripts_header %}
    {% endif %}
{% endblock %}

{% block javascripts_footer %}
    {{ encore_entry_script_tags('app-footer', null, 'geek-star-admin') }}
    {% if admin.config.assets.javascripts_footer is defined %}
        {% include admin.config.assets.javascripts_footer %}
    {% endif %}
{% endblock %}
