{% extends '@GeekStarAdmin/Default/index.page.twig' %}

{% block title %} {{ this.getTitle() | raw }} - {{ admin.config.company_name }}{% endblock %}

{% block bodyparams %}
    {{ this.isWithSearch() ? 'class="with-search"' }}
{% endblock %}

{% block content %}
    <section class="main_content container-fluid js-component-root"
             data-category="{{ this.getModule().getCategory().getUrn() }}"
             data-module="{{ this.getModule().getUrn() }}"
             data-page="{{ this.getUrn() }}"
    >
    </section>
{% endblock %}