.gsFilesUploader-list-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.7em;
}

.gsFilesUploader-list-item:nth-child(2n + 1) {
    background: rgba(0, 0, 0, .03);
}

.gsFilesUploader-list-item.ui-sortable-helper {
    background: #ddf0f9;
}

.gsFilesUploader-list-item .title {
    display: flex;
    min-width: 50%;
}

.gsFilesUploader-list-item .title .logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 45px;
    color: #ccc;
    margin-right: 10px;
}

.gsFilesUploader-list-item .title .logo i {
    font-size: 30px;
}

.gsFilesUploader-list-item .title .logo .extension {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 10px;
    line-height: 10px;
    font-size: 10px;
    font-weight: bold;
    color: #aaa;
}

.gsFilesUploader-list-item .title .logo img {
    max-width: 45px;
    max-height: 45px;
}

.gsFilesUploader-list-item .title .text {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.gsFilesUploader-list-item .title .text .title {
    display: block;
    width: 100%;
}

.gsFilesUploader-list-item .title .text input {
    display: none;
    width: 100%;
    height: 30px;
    padding: 0 5px;
    font: inherit;
    background: none;
    outline: none;
    border: 1px rgba(0, 123, 255, 0.5) dashed;
}

.gsFilesUploader-list-item .size, .gsFilesUploader-list-item .extension {
    min-width: 40px;
    flex-grow: 1;
    font-size: 0.8em;
    color: #495057;
}

.gsFilesUploader-list-item .controls {
    display: flex;
    align-items: center;
}

.gsFilesUploader-list-item .controls .success {
    color: #17a2b8;
}

.gsFilesUploader-list-item .controls .upload {
    color: #0d6efd;
}

.gsFilesUploader-list-item .controls .upload:hover {
    color: #fff;
    background: #0d6efd;
}

.gsFilesUploader-list-item .controls .delete {
    color: #dc3545;
}

.gsFilesUploader-list-item .controls .delete:hover {
    color: #fff;
    background: #dc3545;
}

.gsFilesUploader-list-item .controls .edit {
    color: #343a40
}

.gsFilesUploader-list-item .controls .edit:hover {
    color: #fff;
    background: #636F7A;
}

.gsFilesUploader-list-item .controls .edit-ok {
    display: none;
    color: #28a745;
}

.gsFilesUploader-list-item .controls .edit-ok:hover {
    color: #fff;
    background: #28a745;
}

.gsFilesUploader-list-item .controls .edit-cancel {
    display: none;
    color: #dc3545;
}

.gsFilesUploader-list-item .controls .edit-cancel:hover {
    color: #fff;
    background: #dc3545;
}

.gsFilesUploader-list-item .preloader {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.gsFilesUploader-file-uploader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px;
    margin-top: 15px;
    border-radius: 4px;
    border: 3px rgba(0, 123, 255, 0.5) dashed
}

.gsFilesUploader-file-uploader.focus {
    border-color: #0d6efd;
}

.gsFilesUploader-file-uploader .text {
    font-weight: normal;
    margin-bottom: 20px;
}

.gsFilesUploader input[type="file"] {
    display: none
}

.gsFilesUploader-list-item.edit .title .text .title {
    display: none;
}

.gsFilesUploader-list-item.edit .title .text input {
    display: block;
}

.gsFilesUploader-list-item.edit .controls .edit {
    display: none;
}

.gsFilesUploader-list-item.edit .controls .edit-ok {
    display: block;
}

.gsFilesUploader-list-item.edit .controls .edit-cancel {
    display: block;
}

.gsFilesUploader-list-item.upload .preloader {
    display: block;
}