$color-1: #0d5aa7
$background-color-1: #fff
$background-color-2: lightblue

body
    background-color: $background-color-2
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif

.container
    color: $color-1
    text-align: center
    width: 400px
    height: 200px
    margin: 200px auto
    background: $background-color-1
    border: 4px $color-1 solid
    border-radius: 10px