{% if user is defined %}
    {% set selfUser = load("api/user/self") %}
{% endif %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Geek Star{% endblock %}</title>

        <link rel="shortcut icon" href="{{ asset('build/img/favicon.ico') }}" type="image/x-icon">
        {% block stylesheets %}{% endblock %}
        {% block javascripts_header %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts_footer %}{% endblock %}
    </body>
</html>
