{% extends 'base.layout.twig' %}

{% block body %}
    <div class="container">
        <h1>Empty Geek Star Project</h1>
        {% if selfUser is defined %}
            Hello {{ selfUser.name }}!
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app-header') }}
{% endblock %}

{% block javascripts_header %}
    {{ encore_entry_script_tags('app-header') }}
{% endblock %}

{% block javascripts_footer %}
    {{ encore_entry_script_tags('app-footer') }}
{% endblock %}