@import mixins
@import colors

body
  position: relative
  min-width: 680px

@media (max-width: 1200px)
  .col-1, .col-2, .col-3
    min-width: 50%

  .col-1 + .col-11, .col-1 + .col-10, .col-1 + .col-9, .col-1 + .col-8, .col-1 + .col-7,
  .col-2+ .col-10, .col-2 + .col-9, .col-2 + .col-8, .col-2 + .col-7,
  .col-3 + .col-9, .col-3 + .col-8, .col-3 + .col-7
    width: 50%

  .col
    .col
      min-width: 100%

@media (min-width: 960px) and (max-width: 1024px)
  .col
    min-width: 50%

  .col-4 + .col-8, .col-4 + .col-7,
  .col-5 + .col-7
    width: 50%

@media (max-width: 960px)
  .col
    min-width: 100%

  .sidebar
    &:not(.active)
      width: 0
      overflow: hidden

  .main_content
    padding-left: 30px

  body
    &.with-search
      .main_content
        padding-top: 150px

      header
        height: 120px

        .main_menu
          position: absolute
          top: 55px

        .header_logo
          margin-left: 30px

        .header_search
          position: absolute
          top: 55px
          left: 80px
          right: 30px

          form
            width: 100%

      .sidebar
        top: 120px

  .panel-component
    padding-bottom: 30px