@import mixins
@import colors
@import font
@import ../reset.css
@import bootstrap
@import color-themes
@import mCSB
@import ui-slider

body
  background-color: $body-background-color
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
  a
    &:hover
      text-decoration: none

@import navigation

.main_content
  padding: 90px 30px 30px 110px

@import component
@import field
@import adaptive