@import mixins
@import colors
.modal
  &.show
    background-color: rgba(0,0,0,0.5)
  .modal-content
    border: none
    +border-radius(0)

    .modal-body
      &.with-icon
        display: flex
        align-items: center

        .message
          overflow-wrap: break-word
          line-height: 1.5em

        .icon-logo
          text-align: center
          width: 20%
          min-height: 60px
          line-height: 60px
          font-size: 45px
          margin-right: 20px
          &+.message
            width: 80%

  .modal-header
    .close
      &:hover
        color: $header-hover-color

.modal-backdrop
  background: none
  width: 100%
  height: 100%

.dropdown-menu
  border: 1px rgba($header-shadow-color, .04) solid
  +border-radius(0)
  +box-shadow(0 0.46875rem 2.1875rem rgba($header-shadow-color, .05), 0 0.9375rem 1.40625rem rgba($header-shadow-color, .05), 0 0.25rem 0.53125rem rgba($header-shadow-color, .05), 0 0.125rem 0.1875rem rgba($header-shadow-color, .05))

  .dropdown-item
    font-size: 0.9em
    &:hover
      background: rgba($header-shadow-color, .025)
      color: $header-hover-color

.badge
  font-weight: 700 !important

  @each $status, $color in $status-colors
    &.badge-#{$status}
      background-color: $color

  &.badge-pill
    +border-radius(50em)

.bootstrap-datetimepicker-widget
  padding: 15px !important
  thead
    border-bottom: 10px transparent solid !important
  tr
    td
      height: 25px !important

  .fa
    color: #337ab7
    font-size: 0.9em

  .btn
    &.btn-primary
      background-color: #337ab7

.form-check-input
  margin-top: 0