@import "colors";

@each $status, $color in $status-colors {
  .gsa-color-#{$status} {
    color: $color;
  }
}

@each $status, $color in $status-colors {
  .gsa-bg-#{$status} {
    background-color: $color;
  }
}

@each $status, $color in $status-colors {
  .gsa-border-color-#{$status} {
    border-color: $color;
  }
}