$body-background-color: #edeff1;
$main-shadow-color: #040914;

$header-background-color: #fafbfc;
$header-main-color: #495057;
$header-hover-color: #3f6ad8;
$header-shadow-color: #040914;

$component-hover-color: #1b9df3;

$status-colors: (
  'primary': #007bff,
  'secondary': #6c757d,
  'success': #28a745,
  'danger': #dc3545,
  'warning': #ffc107,
  'info': #17a2b8,
  'light': #f8f9fa,
  'dark': #343a40,
  'white': #fff,
  'transparent': transparent
);