@import mixins
@import colors

/*
 * ============= Panel component ==============
 */
.panel-component
  position: relative
  padding-bottom: 20px

  .panel-wrapper
    display: flex
    flex-direction: column
    position: relative
    width: 100%
    height: 100%
    background: #fff
    line-height: 1.2em
    +box-shadow(0 0.46875rem 2.1875rem rgba($main-shadow-color, .03), 0 0.9375rem 1.40625rem rgba($main-shadow-color, .03), 0 0.25rem 0.53125rem rgba($main-shadow-color, .03), 0 0.125rem 0.1875rem rgba($main-shadow-color, .03))
    +border-radius(3px)

    &.border-b
      border-bottom-width: 4px
      border-bottom-style: solid

    .panel-header
      display: flex
      position: relative
      width: 100%
      padding: 1rem
      border-bottom: 1px rgba($header-main-color, .15) solid

      .title
        flex-grow: 1

      .menu
        position: relative
        .open-menu
          display: inline-block
          position: relative
          width: 16px
          height: 12px
          cursor: pointer
          border-top: 2px $header-main-color solid
          border-bottom: 2px $header-main-color solid

          &:before
            content: ''
            display: block
            position: absolute
            left: 0
            top: 50%
            margin-top: -1px
            width: 100%
            height: 2px
            background: $header-main-color

      @each $status, $color in $status-colors
        &.theme-#{$status}
          background-color: rgba($color, 0.3)

    .panel-content
      display: flex
      flex-grow: 1
      position: relative
      width: 100%
      font-size: 0.95em

      .content
        width: 100%
        padding: 1.5rem

      .mCustomScrollbar
        width: 100%
        position: relative

        .mCSB_container
          padding: 1.5rem

      p, span
        font-weight: 300

/*
 * ============== Table component ==============
 */
.table-component
  .filters
    display: flex
    justify-content: space-between
    margin-bottom: 1rem
    .countFilter
      .form-select
        width: 100px
        display: inline-block
        margin-right: 5px
    .searchFilter
      margin-left: auto
      width: 250px

  .navigation
    display: flex
    justify-content: space-between
    margin-top: 1rem
    .info
      line-height: 33px
      span
        vertical-align: middle
        white-space: nowrap

  .mCustomScrollbar
    .mCSB_container
      padding: 0 !important

  .block-table
    background: #fff
    width: 100%
    position: relative

    .block-table-head, .block-table-foot
      .block-table-row
        border-color: rgba($header-main-color, .15)
        border-width: 1px 0 1px 1px
        border-style: solid
        .block-table-head-col
          padding: 0.7em
          font-weight: bold
          border-right: 1px rgba($header-main-color, .15) solid

    .block-table-head
      border-bottom: 2px rgba($header-main-color, .15) solid

      @each $status, $color in $status-colors
        &.theme-#{$status}
          background-color: rgba($color, 0.3)
      &.theme-default
        background-color: rgba(#000, 0.03)

    .block-table-foot
      border-top: 1px rgba($header-main-color, .15) solid

    .block-table-body
      .block-table-row
        border-color: rgba($header-main-color, .15)
        border-width: 0 0 1px 1px
        border-style: solid
        .block-table-col
          padding: 0.7em
          border-right: 1px rgba($header-main-color, .15) solid
        &:hover, &.ui-sortable-helper
          background: lighten($component-hover-color, 40%) !important

    .block-table-col
      &.control-column
        white-space: nowrap
        padding-right: 20px
        text-align: left !important
        display: flex
        align-items: center
        .title
          margin-left: 8px

    .block-table-row
      position: relative
      flex-wrap: wrap

      .items
        display: none
        width: 100%
        background: #fff
        border-top: 3px rgba($header-main-color, .15) solid
        border-bottom: 1px rgba($header-main-color, .15) solid

        .block-table-row
          border-left: none
      &:not(tr)
        display: flex

    &.sortable
      .block-table-col
        &.control-column
          .mover
            cursor: pointer
            width: 30px
            margin-left: -10px
            text-align: center
            color: rgba($header-main-color, .15)
            &:hover
              color: rgba($header-main-color, .8)

    &.collapsed
      .block-table-row
        &.collapsed
          & > .control-column
            .collapser
              &:after
                content: '-'

          & > .items
            display: block

        &.withoutItems
          & > .control-column
            .collapser
              cursor: default
              width: 0
              &:after
                content: ''

              & + .title
                margin-left: 0

      .block-table-col
        &.control-column
          .collapser
            cursor: pointer
            width: 16px
            height: 16px
            background: rgba($header-main-color, .15)
            border-radius: 2px
            text-align: center
            line-height: 16px
            &:after
              content: '+'

            &:hover
              background: rgba($header-main-color, .35)

  &.striped
    .block-table
      .block-table-body
        .block-table-row
          &:nth-child(2n + 1)
            background: rgba(#000, .03)

  &.withOutBorder
    .block-table
      .block-table-head, .block-table-foot, .block-table-body, .block-table-row, .block-table-col, .block-table-head-col
        border: none !important

      .block-table-body
        .block-table-row
          .block-table-col
            padding: 1.2em 0.7em

    .filters, .navigation
      padding: 1rem
      background-color: map-get($status-colors, 'light')

  &.alignCenter
    .block-table
      .block-table-col, .block-table-head-col
        text-align: center

/*
 * ============== Group component ==============
 */
.group-component
  margin-bottom: 20px
  .group-title
    margin-bottom: .5rem
    .title
      font-weight: 500 !important
      margin-right: 5px !important
    .note
      font-size: 0.9em
      color: rgba($header-main-color, 0.7)