@import mixins
@import colors

.component-field
  label
    font-weight: 500
    cursor: pointer

  input[type="checkbox"], input[type="radio"]
    cursor: pointer

  .error-text
    display: none
    color: map-get($status-colors, 'danger')
    font-size: 0.85em

  &.error
    .error-text
      display: block

/*
 * ============= Text field ==============
 */
.text-component-field
  input
    font-size: 0.95em

  &.error
    input
      border-color: map-get($status-colors, 'danger')

/*
 * ============== TextArea field ==============
 */
.textarea-component-field
  textarea
    font-size: 0.95em

  &.error
    textarea
      border-color: map-get($status-colors, 'danger')

/*
 * ============== Select field ==============
 */
.select-component-field
  select
    font-size: 0.95em

  &.error
    select
      border-color: map-get($status-colors, 'danger')

/*
 * ============== Checkbox field ==============
 */
.checkbox-component-field
  label
    font-weight: normal

  &.error
    input
      border-color: map-get($status-colors, 'danger')
      &:checked
        background-color: map-get($status-colors, 'danger')
        border-color: map-get($status-colors, 'danger')

/*
 * ============== Radio field ==============
 */
.radio-component-field
  label
    font-weight: normal

  &.error
    input
      border-color: map-get($status-colors, 'danger')
      &:checked
        background-color: map-get($status-colors, 'danger')
        border-color: map-get($status-colors, 'danger')

/*
 * ============= Date field ==============
 */
.date-component-field
  input
    font-size: 0.95em

  &.error
    input
      border-color: map-get($status-colors, 'danger')

/*
 * ============= File field ==============
 */
.file-component-field
  input
    font-size: 0.95em

  &.error
    input
      border-color: map-get($status-colors, 'danger')

/*
 * ============== Range component ==============
 */
.range-component-field
  margin-bottom: 20px
  padding: 0 35px

  .ui-slider
    &.ui-widget
      margin-top: 55px

      &.ui-widget-content
        .ui-slider-handle
          .ui-slider-tooltip
            position: absolute
            left: 50%
            bottom: 165%
            +transform(translate(-50%, 0))
            padding: 5px 10px
            +border-radius(3px)
            background: #198754
            color: #fff
            font-size: 0.9em

            &:after
              content: ''
              position: absolute
              left: 50%
              bottom: -5px
              margin-left: -5px
              border-color: transparent
              border-style: solid
              border-width: 5px 5px 0
              border-top-color: #198754

            span
              display: inline-block
              min-width: 50px
              text-align: center

/*
 * ============= Image field ==============
 */
.image-component-field
  .preview
    display: block
    overflow: hidden
    max-width: 350px
    margin-bottom: 10px
    border: 1px #ccc solid
    border-radius: 3px
    text-align: center
    font-size: 0

    img
      max-width: 100%
      max-height: 350px

  input[type="file"]
    max-width: 350px
    font-size: 0.95em

  .delete-file
    margin: 10px 0
    font-size: 0.9em

  &.error
    input[type="file"]
      border-color: map-get($status-colors, 'danger')