=transform($properties...)
  -webkit-transform: $properties
  -ms-transform: $properties
  transform: $properties

=transform-origin($property)
  -webkit-transform-origin: $property
  -ms-transform-origin: $property
  transform-origin: $property

=transition($properties...)
  -webkit-transition: $properties
  transition: $properties

=transition-transform($delay, $properties...)
  -webkit-transition: -webkit-transform $delay, $properties
  transition: transform $delay, $properties

=border-radius($property)
  -webkit-border-radius: $property
  border-radius: $property

=box-shadow($properties...)
  -webkit-box-shadow: $properties
  box-shadow: $properties