@import mixins
@import colors

header
  display: flex
  z-index: 1001
  font-size: 16px
  font-weight: 400
  line-height: 60px
  position: fixed
  top: 0
  right: 0
  left: 0
  height: 60px
  color: $header-main-color
  background: $header-background-color
  +box-shadow(0 0.46875rem 2.1875rem rgba($header-shadow-color, .03), 0 0.9375rem 1.40625rem rgba($header-shadow-color, .03), 0 0.25rem 0.53125rem rgba($header-shadow-color, .03), 0 0.125rem 0.1875rem rgba($header-shadow-color, .03))

  a
    &:hover
      color: $header-hover-color

  .main_menu
    position: relative
    z-index: 1000
    width: 80px
    height: 60px
    padding: 8px 18px
    box-sizing: border-box
    cursor: pointer

    .icon_menu
      position: relative
      width: 44px
      height: 44px
      +border-radius(50%)

      &:hover
        background: rgba($header-shadow-color, .025)

      span
        display: block
        position: absolute
        top: 21px
        left: 8px
        right: 8px
        height: 2px
        background: $header-hover-color
        +transition-transform(0.3s)

        &:before, &:after
          position: absolute
          display: block
          left: 0
          width: 100%
          height: 2px
          background-color: $header-hover-color
          content: ""

        &:before
          top: -6px
          +transform-origin(top right)
          +transition-transform(0.3s, width 0.3s, top 0.3s)

        &:after
          bottom: -6px
          +transform-origin(bottom right)
          +transition-transform(0.3s, width 0.3s, bottom 0.3s)

    &.active
      .icon_menu
        span
          left: 10px
          right: 10px
          +transform(rotate(180deg))

          &:before, &:after
            width: 50%

          &:before
            top: 0
            +transform(translateX(14px) translateY(1px) rotate(45deg))

          &:after
            top: 0
            +transform(translateX(14px) translateY(-1px) rotate(-45deg))

  .header_logo
    width: 220px
    height: 60px
    font-weight: 700
    box-sizing: border-box

  .header_search
    height: 60px
    line-height: 60px
    font-size: 14px
    margin-left: 10px

    form
      display: inline-block
      width: 300px
      height: 40px
      line-height: 30px
      padding: 5px
      background: rgba($header-shadow-color, .05)
      +border-radius(20px)
      position: relative

    input
      display: block
      width: 100%
      height: 30px
      background: none
      color: inherit
      +border-radius(15px)
      padding-left: 15px

      &:focus
        background: rgba($header-hover-color, .05)
        outline: none

    button
      position: absolute
      top: 5px
      right: 5px
      width: 30px
      height: 30px
      border: 0
      color: inherit
      +border-radius(50%)
      background: rgba($header-shadow-color, .1)

  .header_right_section
    display: flex
    flex-grow: 1
    flex-direction: row-reverse
    height: 60px
    padding-right: 30px

  .header_controls
    display: flex
    margin-right: -5px

    .header_control
      display: flex
      align-items: center
      padding: 0 5px

      a
        padding: 0 10px
        &:hover
          background: rgba($header-shadow-color, .025)
          color: $header-hover-color

      span
        font-size: .8em

      .icon
        font-size: 20px

      .logo
        border-radius: 50%
        width: 26px
        height: 26px
        border: 2px rgba($header-hover-color, .2) solid
        line-height: 22px
        text-align: center
        overflow: hidden
        margin-right: 8px

        img
          max-height: 22px
          max-width: 22px

.sidebar
  z-index: 1000
  font-size: 0.9em
  border-top: 1px solid #ddd
  position: fixed
  top: 60px
  bottom: 0
  width: 80px
  color: $header-main-color
  background: $header-background-color
  +transition(.5s width)
  +box-shadow(4px 10px 30px rgba($header-shadow-color, .025))

  .mCustomScrollbar
    .mCustomScrollBox
      width: 64px
      z-index: 2
      overflow: visible
      .mCSB_container
        overflow: visible
    .mCSB_scrollTools
      z-index: 1
      .mCSB_dragger
        &:hover
          .mCSB_dragger_bar
            background-color: rgba(0,0,0,0.5)

  a
    &:hover
      color: $header-hover-color

  ul
    display: block
    height: 100%
    cursor: default
    padding: 10px 0

    li
      line-height: 40px
      min-height: 40px
      margin-bottom: 5px

      .icon
        font-size: 1.2em
        width: 80px
        height: 40px
        line-height: 40px
        text-align: center

        &:before
          display: inline-block
          width: 40px
          height: 40px
          +border-radius(50%)

      .title
        display: block
        width: 180px

      .dropdown-button
        display: block
        cursor: pointer
        position: absolute
        top: 0
        right: 10px
        width: 40px
        height: 40px
        line-height: 40px
        text-align: center
        font-size: 1.5em
        +border-radius(50%)
        +transition(opacity 0.3s ease-in 0.2s)

        &:hover
          background: rgba($header-shadow-color, .025)

      a
        display: block
        position: relative
        .icon
          position: absolute
          top: 0
          left: 0
        &:hover
          text-decoration: none

      &.heading
        color: $header-hover-color
        font-weight: bold
        font-size: 0.95em
        text-transform: uppercase
        height: 40px
        line-height: 40px
        padding-left: 0

        .title
          padding-left: 20px

      ul
        padding: 0
        position: relative

        &:before
          content: ''
          position: absolute
          left: 0
          top: 0

        li
          padding-left: 0
          color: $header-main-color
          font-weight: normal

      &:hover, &.active
        color: $header-hover-color

      &.active
        font-weight: bold

  & > ul
    padding-top: 20px

  &.active
    overflow: hidden
    width: 300px
    +box-shadow(4px 10px 30px rgba($header-shadow-color, .1))

    .mCustomScrollbar
      .mCustomScrollBox
        width: auto

    ul
      li
        position: relative
        padding-right: 40px
        padding-left: 80px

        a
          position: static

        .dropdown-button
          opacity: 1
          visibility: visible

          & + ul
            overflow: hidden
            height: 0

          &.show
            & + ul
              height: auto

        ul
          display: block
          top: 0 !important
          padding-left: 40px
          margin-left: -40px

          &:before
            width: 3px
            height: 100%
            background: rgba($header-hover-color, 0.2)
            +border-radius(15px)

          li
            padding-left: 0

        &.heading
          padding-left: 0

          &:before
            display: none

  &.pre-not-active
    ul
      li
        ul
          opacity: 0
          visibility: hidden
          pointer-events: none
          +transform(scale(.8))

  &:not(.active)
    ul
      li
        width: 64px
        padding-left: 16px

        .dropdown-button
          opacity: 0
          visibility: hidden

        .title
          display: none

        .icon
          width: 48px
          opacity: .3

        ul
          z-index: 1
          display: block
          position: absolute
          left: 85px
          width: 250px
          height: auto !important
          padding: 20px
          background: $header-background-color
          +box-shadow(0 0.46875rem 2.1875rem rgba($header-shadow-color, .05), 0 0.9375rem 1.40625rem rgba($header-shadow-color, .05), 0 0.25rem 0.53125rem rgba($header-shadow-color, .05), 0 0.125rem 0.1875rem rgba($header-shadow-color, .05))

          &:before
            width: 25px
            height: 100%
            background: transparent
            left: -25px

          li
            padding-left: 0
            width: auto
            line-height: 35px
            min-height: 35px

            .title
              display: block

        &.heading
          &:before
            content: ''
            display: inline-block
            vertical-align: middle
            top: 50%
            margin-left: 10%
            width: 80%
            height: 1px
            background: rgba($header-hover-color, .5)
            text-indent: 1px

        &:hover, &.active
          .icon
            opacity: 1

            &:before
              background: rgba($header-hover-color, .1)

        &:hover
          ul
            opacity: 1
            visibility: visible
            pointer-events: all
            +transform(scale(1))
            +transition-transform(.3s, visibility .3s, opacity .3s)

        &:not(:hover)
          ul
            opacity: 0
            visibility: hidden
            pointer-events: none
            +transform(scale(.8))
            +transition-transform(.3s, visibility .3s, opacity .3s)