@import mixins
@import colors

.ui-slider
  .ui-slider-range
    background: map-get($status-colors, 'primary')

  &.ui-widget
    &.ui-widget-content
      background: rgba($header-main-color, .1)
      border: none
      height: 4px
      margin: 20px 0

      .ui-state-default
        border-radius: 50%
        cursor: pointer
        background: #fff
        border: 2px solid map-get($status-colors, 'primary')
        outline: none
        width: 1em
        height: 1em
        top: -.35em

        &.ui-state-active
          +box-shadow(0 0 0.3rem rgba(map-get($status-colors, 'primary'), .65))

  @each $status, $color in $status-colors
    &.theme-#{$status}
      .ui-slider-range
        background: $color
      &.ui-widget
        &.ui-widget-content
          .ui-state-default
            border: 2px solid $color
            &.ui-state-active
              +box-shadow(0 0 0.3rem rgba($color, .65))