<div class="js-component-field component-field button-component-field" {{ include('@GeekStarAdmin/Layout/app/field/data.layout.twig') }}>
    <button type="{{ config.type }}" class="btn btn-{{ config.theme }} {{ config.size is defined ? 'btn-' ~ config.size }}">
        {% if config.icon is defined %}<i class="fa fa-{{ config.icon }}" aria-hidden="true"></i> {% endif %}
        {{ config.title }}
    </button>
    <div class="error-text js-field-error-text"></div>
</div>