{% set fieldId = (config._parentForm ~ '-' ~ config._key) %}
<div class="js-component-field component-field file-component-field" {{ include('@GeekStarAdmin/Layout/app/field/data.layout.twig') }}>
    {% if config.title is defined %}
    <label for="{{ fieldId }}" class="form-label">{{ config.title }}</label>
    {% endif %}
    <input class="form-control"
           type="file"
           id="{{ fieldId }}"
           name="{{ config._key }}"
           {{ config.multiple ? 'multiple' }}
    >
    <div class="error-text js-field-error-text"></div>
</div>