{% set fieldId = (config._parentForm ~ '-' ~ config._key) %}
<div class="js-component-field component-field file-list-component-field" {{ include('@GeekStarAdmin/Layout/app/field/data.layout.twig') }}>
    <div class="js-files-uploader gsFilesUploader"></div>
    <div class="error-text js-field-error-text"></div>
</div>