{% set fieldId = (config._parentForm ~ '-' ~ config._key) %}
<div class="js-component-field component-field image-component-field" {{ include('@GeekStarAdmin/Layout/app/field/data.layout.twig') }}>
    <a class="preview" href="{{ config.url ?: '#' }}" target="_blank">
        <img src="{{ config.preview ?: (config.url ?: '') }}">
    </a>
    <input class="form-control" type="file" id="{{ fieldId ~ '[file]' }}" name="{{ config._key  ~ '[file]' }}" accept="image/*">
    <div class="form-check delete-file">
        <input class="form-check-input"
           type="checkbox"
           id="{{ fieldId ~ '[delete]' }}"
           name="{{ config._key ~ '[delete]' }}">
        <label class="form-check-label" for="{{ fieldId ~ '[delete]' }}">{{ 'geek_star_admin.content.delete_file' | trans }}</label>
    </div>
    <div class="error-text js-field-error-text"></div>
</div>