{% set fieldId = (config._parentForm ~ '-' ~ config._key) %}
<div class="js-component-field component-field radio-component-field" {{ include('@GeekStarAdmin/Layout/app/field/data.layout.twig') }}>
    <div class="form-check">
        <input class="form-check-input" type="radio"
           id="{{ fieldId }}"
           name="{{ config.name }}"
           value="{{ data.value }}"
           {{ data.checked ? ' checked' }}>
        <label class="form-check-label" for="{{ fieldId }}">{{ config.title ?? '' }}</label>
    </div>
    <div class="error-text js-field-error-text"></div>
</div>