{% set fieldId = (config._parentForm ~ '-' ~ config._key) %}
<div class="js-component-field component-field range-component-field" {{ include('@GeekStarAdmin/Layout/app/field/data.layout.twig') }}>
    <div class="js-slider {{ config.theme is defined ? 'theme-' ~ config.theme }}"></div>
    <div class="error-text js-field-error-text"></div>
</div>