{% set fieldId = (config._parentForm ~ '-' ~ config._key) %}
<div class="js-component-field component-field richtext-component-field" {{ include('@GeekStarAdmin/Layout/app/field/data.layout.twig') }}>
    {% if config.title is defined %}
    <label for="{{ fieldId }}" class="form-label">{{ config.title }}</label>
    {% endif %}
    <textarea class="form-control"
           id="{{ fieldId }}"
           name="{{ config._key }}"
           {{ config.height is defined ? ('style="min-height: ' ~ config.height ~ 'px"') | raw }}
    >{{ data.value is defined ? data.value }}</textarea>
    <div class="error-text js-field-error-text"></div>
</div>