{% set fieldId = (config._parentForm ~ '-' ~ config._key) %}
<div class="js-component-field component-field select-component-field" {{ include('@GeekStarAdmin/Layout/app/field/data.layout.twig') }}>
    {% if config.title is defined %}
    <label for="{{ fieldId }}" class="form-label">{{ config.title }}</label>
    {% endif %}
    <select class="form-select" id="{{ fieldId }}" name="{{ config._key }}">
        {% for option in config.options %}
        <option value="{{ option.value }}" {{ data.value is defined and data.value == option.value ? 'selected' }}>{{ option.title }}</option>
        {% endfor %}
    </select>
    <div class="error-text js-field-error-text"></div>
</div>