{% set fieldId = (config._parentForm ~ '-' ~ config._key) %}
<div class="js-component-field component-field text-component-field" {{ include('@GeekStarAdmin/Layout/app/field/data.layout.twig') }}>
    {% if config.title is defined %}
    <label for="{{ fieldId }}" class="form-label">{{ config.title }}</label>
    {% endif %}
    <input class="form-control"
           id="{{ fieldId }}"
           name="{{ config._key }}"
           {{ config.placeholder is defined ? ('placeholder="' ~ config.placeholder ~ '"') | raw }}
           {{ data.value is defined ? ('value="' ~ data.value ~ '"') | raw }}
           {{ config.type is defined ? ('type="' ~ config.type ~ '"') | raw : 'type="text"' }}
    >
    <div class="error-text js-field-error-text"></div>
</div>