<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <title>{% block title %}{{ admin.config.company_name }}{% endblock %}</title>

        <base href="{{ path('geek_star_admin_index') }}" />

        <link rel="shortcut icon" href="{{ asset( admin.config.favicon_path ) }}" type="image/x-icon">
        {% block stylesheets %}{% endblock %}
        {% block javascripts_header %}{% endblock %}
        <script>
            var baseUrl = '{{ path('geek_star_admin_index') }}';
            var apiCsrfToken = '{{ csrf_token('geek_star_admin_api') }}';
        </script>
    </head>
    <body{% block bodyparams %}{% endblock %}>
        {% block body %}{% endblock %}
        {% block javascripts_footer %}{% endblock %}
    </body>
</html>
