    <header>
        <div class="main_menu">
            <div class="icon_menu js-toggle-sidebar-menu"><span></span></div>
        </div>
        <div class="header_logo">
            <a href="{{ path('geek_star_admin_index') }}">
                <h1>{{ admin.config.company_name }}</h1>
            </a>
        </div>
        {% if this.isWithSearch() %}
        <div class="header_search">
            <form method="get">
                <input name="search" type="search" placeholder="{{ 'geek_star_admin.content.search' | trans }}..."/>
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
        {% endif %}
        <div class="header_right_section">
            <div class="header_controls">
                <div class="header_control">
                    {% if admin.user.getAvatarInAdmin() %}
                    <div class="logo">
                        <img src="{{ image(admin.user.getAvatarInAdmin()).resize(25,25) }}">
                    </div>
                    {% endif %}
                    <span>{{ admin.user.getNameInAdmin() }}</span>
                </div>
                <div class="header_control">
                    <a href="{{ path('geek_star_admin_logout') }}">
                        <i class="icon fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>
    {{ include('@GeekStarAdmin/Layout/app/sidebar.layout.twig') }}