{% set startPos = max(min(currentPage - 2, pageCount - 6), 3) %}
{% set endPos = min(max(currentPage + 2, 7), pageCount - 2) %}

<ul class="pagination">
    <li class="page-item">
        <a class="page-link" href="#" data-page="{{ max(currentPage - 1, 1) }}">&lsaquo;</a>
    </li>
    <li class="page-item {{ currentPage == 1 ? 'active' }}">
        <a class="page-link" href="#" data-page="1">1</a>
    </li>

    {% if (pageCount > 9) and (currentPage - 4 > 1) %}
    <li class="page-item">
        <span class="page-link">...</span>
    </li>
    {% else %}
    <li class="page-item {{ currentPage == 2 ? 'active' }}">
        <a class="page-link" href="#" data-page="2">2</a>
    </li>
    {% endif %}

    {% if endPos >= startPos %}
    {% for pageNum in startPos..endPos %}
    <li class="page-item {{ currentPage == pageNum ? 'active' }}">
        <a class="page-link" href="#" data-page="{{ pageNum }}">{{ pageNum }}</a>
    </li>
    {% endfor %}
    {% endif %}

    {% if pageCount > 3 %}
    {% if max(9, currentPage + 4) < pageCount %}
    <li class="page-item">
        <span class="page-link">...</span>
    </li>
    {% else %}
    <li class="page-item {{ currentPage == (pageCount - 1) ? 'active' }}">
        <a class="page-link" href="#" data-page="{{ pageCount - 1 }}">{{ pageCount - 1 }}</a>
    </li>
    {% endif %}
    {% endif %}

    {% if pageCount > 2 %}
    <li class="page-item {{ currentPage == pageCount ? 'active' }}">
        <a class="page-link" href="#" data-page="{{ pageCount }}">{{ pageCount }}</a>
    </li>
    {% endif %}
    <li class="page-item">
        <a class="page-link" href="#" data-page="{{ min(currentPage + 1, pageCount) }}">&rsaquo;</a>
    </li>
</ul>