{% set currentModuleUri = this.getModule().getUri() %}
{% set currentPageUri = this.getUri() %}
    <nav class="sidebar">
        <div class="mCustomScrollbar light" data-mcs-theme="minimal-dark">
            <div class="content">
                <ul class="">
                {% for category in admin.categories %}
                {% if category.checkPermission(admin.user) %}
                    {% if category.getTitle() %}
                    <li class="heading"><span class="title">{{ category.getTitle() }}</span></li>
                    {% endif %}

                    {% for module in category.modules %}
                    {% if module.checkPermission(admin.user) %}
                    <li class="js-sidebar-menu-item-parent{{ currentModuleUri == module.getUri() ? ' active' }}">
                        <a href="{{ module.getDefaultPage.getUri() }}">
                            {% if module.getIcon() %}
                            <i class="icon fa fa-{{ module.getIcon() }}"></i>
                            {% endif %}
                            <span class="title">{{ module.getTitle() }}</span>
                        </a>

                        {% if module.pages is not empty %}
                        <div class="dropdown-button js-toggle-sidebar-menu-dropdown">
                            <i class="fa fa-angle-down"></i>
                        </div>
                        <ul>
                        {% for page in module.pages %}
                        {% if page.checkPermission(admin.user) %}
                            <li{{ currentPageUri == page.getUri() ? ' class="active"' }}>
                                <a href="{{ page.getUri() }}"><span class="title">{{ page.getTitle() }}</span></a>
                            </li>
                        {% endif %}
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endif %}
                    {% endfor %}
                {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </nav>